<!-- app/views/users/new.html.erb -->

  <div class="container">
    <div class="signup_page">
      <h2>
        Sign Up
      </h2>

      <form class="form-inline">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="text" class="form-control" id="password">
          </div>
          <div class="form-group">
            <label for="password">Confirm Password</label>
            <input type="text" class="form-control" id="password_confirmation">
          </div>
        
          <button type="submit" class="btn btn-default">Sign Up</button>
      </form>
    </div>
  </div>

  <!-- <div class="new_user">
    <%#=form_for User.new do |f| %>

      <%#=f.label :email %>
      <%#=f.text_field :email, :autofocus => true %>

     <%#=f.label :password %>
     <%#=f.password_field :password %>

     <%#=f.label :password_confirmation, "Confirm Password" %>
     <%#=f.password_field :password_confirmation %>

     <span id="sign_up">
       <%#=f.submit "Sign Up!" %>
     </span>

    <%# end %>
  </div> -->

