<!-- app/views/users/show.html.erb -->

<div class="container">
  <div class="user_page">
    <h2>
      YOUR HOME PAGE
    </h2>
    <%= "Email: #{session[:email]} User ID: #{session[:user_id]}" %>
    <div id="flash_messages">
      <% flash.each do |key, value| %>
        <%= content_tag(:div, value, :class => "flash #{key}") %>
      <% end %>
    </div>
  </div>
</div>
