<!-- app/views/home/index.html.erb -->

<div>
  <h3 class="home_h3">
    <%= "Welcome to the General Provision Member Request App" %>
  </h3>

  <pre class="home_links">
    <%= link_to "Please Log In", login_path %>
    <%= link_to "(ADMIN: add a user)", signup_path %>
  </pre>
</div>
  