/* ==> member-requests/app/assets/stylesheets/application.css */

body {
  background-color: #white;
  font-family: Verdana;
  color: black;
  text-align: center;
}
.navbar-brand {
  font-size: 23px;
  margin-right: 66px;
}
.hdrtext {
  font-size: 16px;
  color: white;
}
.home_page {
  position: fixed;
  top: 40%;
  left: 35%;
  margin-top: -50px;
  margin-left: -100px;
}
.home_h3 {
  display: inline-block;
  font-size: 32px;
  font-style: italic;
  margin: 0px 0px 20px;
}
.home_links {
  font-size: 20px;
}
.login_page {
  position: fixed;
  top: 25%;
  left: 35%;
  margin-top: -50px;
  margin-left: -100px;
}
.login_h2 {
  display: inline-block;
  font-size: 32px;
  font-style: italic;
  margin: 0px 0px 40px;
}
.signup_page {
  position: fixed;
  top: 25%;
  left: 35%;
  margin-top: -50px;
  margin-left: -100px;
}
.signup_h2 {
  display: inline-block;
  font-size: 32px;
  font-style: italic;
  margin: 0px 0px 40px;
}
