/* ==> member-requests/app/assets/stylesheets/application.css */

@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,500,700);

body {
  background-color: #white;
  font-family: Verdana;
  color: black;
  text-align: center;
}
.home_page {
  position: fixed;
  top: 30%;
  left: 35%;
  margin-top: -50px;
  margin-left: -100px;
}
.home_h3 {
  display: inline-block;
  font-size: 32px;
  font-style: italic;
  margin: 40px 0px 40px;
}
.home_links {
  font-size: 22px;
}
.login input {
  /* padding: 4px; */
  border: 1px solid # !important;
  margin-right: 5px;
  margin-left: 3px;
  background: rgba(255,255,255,0.5);
}


