/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,500,700);

body {
	background-color: #CCCCCC;
	font-family: 'Ubuntu', sans-serif;
  top-margin: 20px;
    /*	text-align: center; */
}

#home_page {
  margin-top: 20px;
}

h1 {
	font-size: 30px;
	font-weight: 400;
  top-margin: 20px;
}

.login label {
	font-size: 15px;
	font-weight: bold;
  font-family: Arial;
	margin-bottom: 6px;
  margin-left: 7px;
}

.login input {
  padding: 4px;
  border: 1px solid # !important;
  margin-right: 5px;
  margin-left: 3px;
  background: rgba(255,255,255,0.5);
}

#home_link {
  /* TBD */
}

#sign_up {
  font-weight: bold;
}

input {
  border: 1px solid #;
  box-shadow: inset 0 0 8px rgba(0,0,0,0.1), 0 0 16px rgba(0,0,0,0.1);
}












