/* ==> member-requests/app/assets/stylesheets/sessions.css */

/*
.login_page {
  position: fixed;
  top: 30%;
  left: 35%;
  margin-top: -50px;
  margin-left: -100px;
}
.login_page .login_h2 {
  display: inline-block;
  font-size: 32px;
  font-style: italic;
  margin: 40px 0px 40px;
}
.login_form label {
	font-size: 15px;
	font-weight: bold;
  font-family: Arial;
  margin-top: 20px;
	margin-bottom: 6px;
  margin-left: 7px;
  }
.login_form input {
  padding: 4px;
  margin-right: 10px;
  margin-left: 3px;
  background: rgba(255,255,255,0.5);
  }
*/











