<!-- app/views/votes/show.html.erb

<%#= link_to "Your Page", show_path %>
<%#= link_to "Post Request", post_path %>
<%#= link_to "Open Requests", list_req_path %>

<h3>
  <%#= "Your Votes: (#{session[:email]}, user ID #{session[:user_id]})" %>
</h3>

  <%# @votes.each do |vote| %>
    <p>
    <%# gprequest = Gprequest.find_by(:id vote.gprequest_id) %>  
    <%#= "Vote ID: #{vote.id}, Request Title: #{gprequest.title}, Request Description: #{gprequest.description}" %>
    </p>
  <%# end %>

   -->

